body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.cart-table th,
.cart-table td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.cart-table th {
  background-color: #4070f4;
  color: white;
}

.cart-table img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.quantity-input {
  width: 50px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.btn-container {
  text-align: right;
}

.button {
  background-color: #4070f4;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #87a6fa;
}

.empty-cart-msg {
  text-align: center;
  font-size: 18px;
  margin-top: 50px;
}

.dropdownn-content a,
.account-box {
  display: none;
}

#account-dropdown:hover .dropdownn-content a,
#account-dropdown:hover .account-box {
  display: block;
}

.account-box {
  border: 1px solid #ccc;
  background-color: black; 
  width: 80px;
  height: 80px;
  padding: 10px;

  position: absolute; 
  top: 35px; 
  right: 500px;
}
