body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4070f4;
    color: white;
    padding: 15px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

table th {
    background-color: #4070f4;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

.dropdownn-content a,
.account-box {
  display: none;
}

#account-dropdown:hover .dropdownn-content a,
#account-dropdown:hover .account-box {
  display: block;
}

.account-box {
  border: 1px solid #ccc;
  background-color: black; 
  width: 80px;
  height: 80px;
  padding: 10px;

  position: absolute; 
  top: 35px; 
  right: 500px;
}