/* Style.css File */
* { 
  user-select: none;
	margin: 0; 
	padding: 0; 
	box-sizing: border-box; 
} 

body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #4070f4;
}


/* Styling the container */
.container { 
  position: relative;
  max-width: 430px;
  width: 100%;
  background: #fff;
  padding: 34px;
  border-radius: 6px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  margin: auto;
} 

/* Style all input fields */
input { 
  user-select: all;
	width: 100%; 
	padding: 12px; 
	margin: 6px 0 16px 0; 
	border: 1px solid #ccc; 
	border-radius: 4px; 
} 
.field-icon {
  cursor: pointer;
  float: right;
  margin-left: -20px;
  margin-top: 18px;
  position: relative;
  z-index: 2;
}

/* Style the submit button */
input[type=submit] { 
	background-color: #0f0fe9; 
	color: white; 
	cursor: pointer; 
} 

input[type=submit]:hover { 
	background-color: #4141fc; 
} 

/* The message box */
#password-message { 
	display: none; 
	background: #ffffff; 
	color: #000; 
	position: relative; 
	padding: 20px; 
	margin-top: 10px; 
	text-align: left; 
} 

#password-message h3 { 
	font-size: 15px; 
	margin-top: 0; 
	text-transform: uppercase; 
} 

#password-message p { 
	margin: 8px 0; 
} 

.valid { 
	color: green; 
} 

.valid:before { 
	position: relative; 
	left: -35px; 
	content: ""; 
} 

.invalid { 
	color: red; 
} 

.invalid:before { 
	position: relative; 
	left: -35px; 
	content: ""; 
} 

/* Error message style */
.error-msg { 
	color: red; 
	font-size: 14px; 
	margin-top: 4px; 
}

/* Make radio button labels inline */
input[type='radio'] {
	display: none;
  }
  
  input[type='radio'] + label {
	display: inline-block;
	margin-right: 10px;
  }
  